


body{
	    font-family: sans-serif;
        background-color: #9e9e9e8c;
}

#logindiv1{
    background-color: blue;
    color: white;
    height: fit-content;
    

}
#maindivlogin{

    width: 400px;
    height: 300px;
    border-radius: 10px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: auto;
}

#loginbutton{
    color: white;
    margin-top: 5px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 8px;
    background-color: blue;
}

.inputs{
	padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px
}

.appliedcompanydivs{
	background-color: white;
    width: 50%;
    height: 70px;
    border-radius: 20px;
}
